/MarcelJoachimKloubert.AppServer/obj
/MarcelJoachimKloubert.AppServer/bin
/MarcelJoachimKloubert.AppServer.SDK/obj
/MarcelJoachimKloubert.AppServer.SDK/bin
/MarcelJoachimKloubert.AppServer.TestHost/obj
/MarcelJoachimKloubert.AppServer.TestHost/bin
/MarcelJoachimKloubert.AppServer.v12.suo
